<template>
    <div
        ref="container"
        :style="containerStyle"
        @dragover="dragOver($event)"
        @drop="drop($event)"
        class="sceneContainer"
        @keyup.delete="onDelete"
        tabindex="0"
    >
        <v-stage ref="stage" :config="stageConfig" @wheel="onWheelZoom($event)">
            <v-layer v-if="activeMap">
                <v-group ref="GridSpace" :config="gridConfig">
                    <v-group ref="MapSpace">
                        <MapImage v-if="activeMap" :image="activeMapImage"></MapImage>
                        <GridFinderLayer
                            :mapId="activeMap ? activeMap._id : ''"
                            @gridFinderPos="updateGridFinderPos"
                            @changed="onGridFinderChange"
                        ></GridFinderLayer>
                    </v-group>
                    <v-group ref="TokenSpace" :config="tokenSpaceConfig">
                        <GridLines
                            :width="gridCount.width"
                            :height="gridCount.height"
                            :defaultPixelsPerGrid="DEFAULT_PIXELS_PER_GRID"
                            :gridConfig="stage.grid"
                            :gridColor="activeMap.stage.grid.color"
                        ></GridLines>
                        <PlayToken
                            ref="playTokens"
                            v-for="entity in mapTokens"
                            :key="entity._id"
                            :entity="entity"
                            :defaultPixelsPerGrid="DEFAULT_PIXELS_PER_GRID"
                            @moved="onTokenMoved"
                            @selected="onTokenSelected"
                            @deselected="onTokenDeselected"
                            @dblclick="onTokenEdited"
                        />
                    </v-group>
                    <DrawingLayer
                        v-on:drawingPos="updateDrawingPos"
                        :stageMouseEvents="stageMouseEvents"
                        :mapId="activeMap ? activeMap._id : ''"
                        isDrawing="isDrawing"
                    ></DrawingLayer>
                </v-group>
            </v-layer>
            <unleash-feature name="fog-of-war">
                <FogLayer :stageMouseEvents="stageMouseEvents" />
            </unleash-feature>
        </v-stage>
        <CharacterEditorWindow />
        <MapEditorWindow
            ref="mapEditor"
            @onChange="onMapSaved"
            @onAdd="onMapAdded"
            @onCancel="showMapEditor = false"
            @onDelete="onMapDeleted"
            v-show="showMapEditor"
        />
        <ProfileEditor />
        <CampaignEditWindow />
        <GmControlsWindow />
        <ErrorDialog />
        <Debugger v-if="isLocalHost" :debugMessage="debugMessage" />
    </div>
</template>

<script>
import Vue from 'vue';
import VueKonva from 'vue-konva';
import Konva from 'konva';
import { mapGetters, mapState, mapActions } from 'vuex';
import * as jsonpatch from 'fast-json-patch';
import _ from 'lodash';

import { findGrid } from 'gridfinder';

import SquareGrid from '@/core/grid/SquareGrid.js';
import GridLines from './GridLines.vue';
import MapImage from './MapImage.vue';
import ProfileEditor from '@/profile/components/ProfileEditor.vue';
import CampaignEditModal from '@/campaigns/components/CampaignEditModal.vue';
import GmControlsModal from '@/campaigns/components/GmControlsModal.vue';
import DrawingLayer from './DrawingLayer.vue';
import GridFinderLayer from './GridFinderLayer.vue';
import FogLayer from '@/core/fog/components/FogLayer.vue';
import CharacterEditor from '@/characters/components/character-editor/CharacterEditor.vue';
import PlayToken from '@/characters/components/PlayToken';
import ErrorDialog from '@/common/components/ErrorDialog.vue';
import Debugger from './Debugger.vue';

import { MAP } from '@/maps/constants.js';
import MapEditorWindow from '@/maps/components/EditorWindow';

import { COLLECTION_TYPES } from '@/core/collections/constants';

import MapModel from '@/maps/map_model';
Vue.use(VueKonva);

export default {
    components: {
        CharacterEditorWindow: CharacterEditor,
        CampaignEditWindow: CampaignEditModal,
        GmControlsWindow: GmControlsModal,
        ErrorDialog,
        GridLines,
        MapImage,
        DrawingLayer,
        GridFinderLayer,
        FogLayer,
        PlayToken,
        ProfileEditor,
        MapEditorWindow,
        Debugger,
    },
    data() {
        return {
            DEFAULT_PIXELS_PER_GRID: 50,
            gridConfig: {
                scale: {
                    x: 1,
                    y: 1,
                },
                position: {
                    x: 0,
                    y: 0,
                },
                visible: true,
            },
            renderContext: {
                gridSpace: null,
                pixelRatio: 1,
            },
            viewport: {
                size: { width: null, height: null },
            },
            selectedTokenId: '',
            drawingConfig: {
                isPaint: false,
                mode: 'brush',
                lastLine: null,
            },
            showMapEditor: false,
            stageMouseEvents: new EventTarget(),
            stagePos: {},
            drawingPos: {},
            gridFinderPos: {},
        };
    },
    computed: {
        ...mapState('gamestate', {
            entities: 'entities',
            activeMap: 'activeMap',
        }),
        ...mapState('drawing', {
            isDrawing: 'active',
        }),
        ...mapState('fog', {
            isEditingFog: 'active',
        }),
        ...mapState('live', {
            connected: 'connected',
        }),
        ...mapState('unleash', {
            enabledFeatures: 'enabledFeatures',
        }),
        ...mapGetters('gamestate/entities', {
            getEntityByRef: 'getEntityByRef',
            entities: 'tokens',
        }),
        ...mapGetters('collections', {
            getItem: 'getItem',
            maps: 'maps',
        }),
        ...mapGetters('tokens', {
            getTokensByMapId: 'getTokensByMapId',
        }),
        containerStyle() {
            return {
                'background-color': this.stage.color || '#121212',
            };
        },
        mapTokens() {
            const mapId = this.activeMap ? this.activeMap._id : null;
            if (!mapId) return [];
            return this.getTokensByMapId(mapId);
        },
        stageConfig: function() {
            return {
                draggable: this.isStageDraggable,
                size: this.viewport.size,
            };
        },
        isStageDraggable() {
            return this.isDrawing || this.isEditingFog ? false : true;
        },
        stage: function() {
            return this.activeMap ? this.activeMap.stage : getDefaultStage();
        },
        gridCount: function() {
            const { q, r } = this.stage.bounds.se;
            return { width: q + 1, height: r + 1 };
        },
        tokenSpaceConfig() {
            let config;
            if (!this.activeMap) {
                config = {
                    scale: {
                        x: 1,
                        y: 1,
                    },
                    position: {
                        x: 0,
                        y: 0,
                    },
                };
            } else {
                let scale = this.activeMap.stage.grid.size / this.DEFAULT_PIXELS_PER_GRID;
                let offset = this.activeMap.stage.grid.offset ? this.activeMap.stage.grid.offset : { x: 0, y: 0 };
                if (isNaN(offset.x) || isNaN(offset.y)) {
                    offset = { x: 0, y: 0 };
                }
                config = {
                    scale: {
                        x: scale,
                        y: scale,
                    },
                    position: { x: parseFloat(offset.x), y: parseFloat(offset.y) },
                };
            }
            return config;
        },
        activeMapImage() {
            if (!this.activeMap) {
                return null;
            }
            return this.activeMap.stage.elements[0].asset.src;
        },
        debugMessage() {
            const { gridConfig, stagePos, drawingPos, gridFinderPos } = this;
            return {
                'Grid Configuration': gridConfig,
                'Cursor Position': stagePos,
                'Drawing Position': drawingPos,
                'Grid Finder Position (Activate gridFinder to engage)': gridFinderPos,
            };
        },
        isLocalHost() {
            const hostname = window.location.hostname;
            return hostname === 'localhost';
        },
    },
    watch: {
        'stage.grid': {
            handler({ type, size }) {
                if (type !== 'square') {
                    if (process.env.NODE_ENV !== 'production') {
                        console.warn('Only square grids are currently supported');
                    }
                    type = 'square';
                }
                size = MAP.MAGIC_SCALE;
                let gridSpace = this.renderContext.gridSpace;
                this.renderContext.gridSpace =
                    gridSpace && gridSpace.type === type ? gridSpace.withSize(size) : new SquareGrid(size);
            },
            deep: true,
            immediate: true,
        },
        connected: async function() {
            if (this.connected) {
                await this.loadTokens();
                await this.loadGmPermissions();
            }
        },
        activeMap() {
            if (this.activeMap) {
                // let frame = {
                //     n: 0,
                //     w: 0,
                //     s: this.activeMap.stage.bounds.se.r + 1,
                //     e: this.activeMap.stage.bounds.se.q + 1,
                // };
                // if (this.activeMap.hasOwnProperty('start')) {
                //     frame = this.activeMap.start;
                // }
                // const gridSpace = this.renderContext.gridSpace;
                // const position = gridSpace.gridToStage({ q: -frame.w, r: -frame.n, pa: 'nw' });
                // const desiredGridHeight = this.viewport.size.height / (frame.s - frame.n);
                // const desiredGridWidth = this.viewport.size.width / (frame.e - frame.w);
                // const finalGridSize = Math.min(desiredGridHeight, desiredGridWidth);
                // this.renderContext.gridColor = this.activeMap.stage.grid.color;
                // this.renderContext.gridFullness = this.activeMap.stage.grid.lineFullness;
                // const stage = this.$refs.stage.getNode();
                // stage.position(position);
                // this.renderContext.gridSpace = gridSpace.withSize(finalGridSize);
            }
        },
        receivedLines: {
            handler(lines) {
                // Filter list to lines that don't already exist
                let existingIds = this.$refs.drawingcanvas
                    .getNode()
                    .getLayer()
                    .getChildren()
                    .map(shape => shape.id);
                lines
                    .filter(line => !existingIds.includes(line.id))
                    .forEach(line => {
                        this.$refs.drawingcanvas
                            .getNode()
                            .getLayer()
                            .add(Konva.Node.create(line));
                    });
                this.$refs.drawingcanvas
                    .getNode()
                    .getLayer()
                    .batchDraw();
            },
        },
    },
    created() {
        this.renderContext.pixelRatio = window.devicePixelRatio || 1;
    },
    mounted() {
        this.addMouseEvents();
    },
    methods: {
        ...mapActions('tokens', {
            addToken: 'add',
            loadTokens: 'load',
        }),
        ...mapActions('characters', {
            openCharacterEditor: 'openEditor',
        }),
        ...mapActions('gmPermissions', {
            loadGmPermissions: 'loadGmPermissions',
        }),
        emitMouseMove(sPos) {
            const offset = this.viewport.pos;
            const stagePos = {
                x: sPos.x + offset.x,
                y: sPos.y + offset.y,
            };
            this.$emit('mousemove', {
                stage: stagePos,
                grid: this.renderContext.gridSpace.stageToGrid(stagePos),
            });
        },
        //Map
        ...mapActions('collections', {
            loadMaps: 'loadMaps',
            updateMap: 'update',
            addMap: 'add',
            removeMap: 'remove',
        }),
        onMapAdded({ map }) {
            this.showMapEditor = false;
            this.$store.dispatch('analytics/pushEvent', {
                event: { category: 'CampaignMap', action: 'AddMap', name: map.name, value: map._id },
            });
            this.addMap({ collection: COLLECTION_TYPES.maps, item: map });
        },
        onMapSaved({ id, patch }) {
            this.showMapEditor = false;
            this.updateMap({ collection: COLLECTION_TYPES.maps, id, patch });
        },
        onMapDeleted({ mapId }) {
            this.showMapEditor = false;
            this.removeMap({ collection: COLLECTION_TYPES.maps, id: mapId });
        },
        onMapAdd: function() {
            this.showMapEditor = true;
            const map = MapModel;
            this.$refs.mapEditor.saveButton = 'Add';
            this.$refs.mapEditor.showDelete = false;
            this.$refs.mapEditor.map = map;
        },

        onMapEdit: function({ map }) {
            this.showMapEditor = true;
            this.$refs.mapEditor.saveButton = 'Save';
            this.$refs.mapEditor.showDelete = true;
            this.$refs.mapEditor.map = map;
        },

        fitToContainer() {
            const container = this.$refs.container;
            const rect = container.getClientRects()[0];
            this.viewport.size = {
                height: Math.floor(rect.height),
                width: Math.floor(rect.width),
            };
        },
        onTokenMoved: function({ entity, position }) {
            let gridPos = {
                q: position.x / this.DEFAULT_PIXELS_PER_GRID,
                r: position.y / this.DEFAULT_PIXELS_PER_GRID,
            };

            if (
                !this.enabledFeatures['grid-experience-v2'] ||
                !('snap' in this.activeMap.stage.grid) ||
                this.activeMap.stage.grid.snap
            ) {
                gridPos = {
                    q: Math.round(gridPos.q),
                    r: Math.round(gridPos.r),
                };
            }

            const updatedEntity = _.cloneDeep(entity);
            updatedEntity.pos = gridPos;
            const patch = jsonpatch.compare(entity, updatedEntity);

            if (patch.length) {
                this.$store.dispatch('analytics/pushEvent', {
                    event: { category: 'CampaignMap', action: 'CharacterMoved', name: entity },
                });
                this.$store.dispatch('tokens/moveToken', updatedEntity);
            } else {
                this.$store.commit('collections/forceReactivityUpdate', { collection: 'tokens', item: updatedEntity });
            }
        },
        onTokenSelected: function({ entity }) {
            if (this.selectedTokenId === '') {
                this.selectedTokenId = entity._id;
            } else if (this.selectedTokenId !== entity._id) {
                let oldSelectedTokenId = this.selectedTokenId;
                let oldToken = this.$refs['playTokens'].find(token => token.entity._id === oldSelectedTokenId);
                oldToken.selected = false;
                this.selectedTokenId = entity._id;
            } else {
                return;
            }
            this.updateSelectedTokenStore();
        },
        onTokenDeselected: function() {
            this.selectedTokenId = '';
            this.updateSelectedTokenStore();
        },
        onTokenEdited: function({ character }) {
            this.openCharacterEditor(character);
        },
        updateSelectedTokenStore() {
            this.$store.commit('gamestate/selectedTokenUpdate', this.selectedTokenId);
        },
        onDelete() {
            const tokenIdToBeDeleted = this.selectedTokenId;
            this.onTokenDeselected();
            this.$store.dispatch('tokens/remove', {
                id: tokenIdToBeDeleted,
            });
        },
        onWheelZoom(event) {
            event.evt.preventDefault();

            // If no change, don't do anything.
            if (event.evt.deltaY === 0) {
                return;
            }

            // DOM manipulation to reference Konva Stage.
            const stage = event.currentTarget;
            // Record previous scale.
            const oldScale = stage.scaleX();
            // Get pointer postion from Stage.
            const pointer = stage.getPointerPosition();
            // Set the relative relationship to the pointer from zoom.
            const mousePointTo = {
                x: (pointer.x - stage.x()) / oldScale,
                y: (pointer.y - stage.y()) / oldScale,
            };

            // How fast the user will zoom in or out.
            const scaleBy = 1.05;
            // Zooming in and out based off of event input
            let newScale = event.evt.deltaY < 0 ? oldScale * scaleBy : oldScale / scaleBy;
            // Set maximum and minumum zoom. Technically not required. Large for zoom-in, small for zoom-out.
            const { maxZoom, minZoom } = this.zoomCaps(stage);
            newScale = Math.min(maxZoom, Math.max(newScale, minZoom));

            // Only change if scale changed (min and max caps)
            if (newScale !== oldScale) {
                // Set Stage scale.
                stage.scale({ x: newScale, y: newScale });
                // Where pointer should be in relation to newScale
                const newPos = {
                    x: pointer.x - mousePointTo.x * newScale,
                    y: pointer.y - mousePointTo.y * newScale,
                };
                // Position Stage using where mouse should be coordinates
                stage.position(newPos);
                // Redraw/update Stage for user.
                stage.batchDraw();
            }
        },

        zoomCaps(stage) {
            const size = this.stage.grid.size;
            const { width, height } = this.gridCount;

            const minumumGridTilesOnScreen = 3;
            const maxZoomHeight = stage.height() / (size * minumumGridTilesOnScreen);
            const maxZoomWidth = stage.width() / (size * minumumGridTilesOnScreen);

            const zoomOutPaddingFactor = 1.5;
            const minZoomWidth = stage.width() / (size * width * zoomOutPaddingFactor);
            const minZoomHeight = stage.height() / (size * height * zoomOutPaddingFactor);

            return { maxZoom: Math.max(maxZoomHeight, maxZoomWidth), minZoom: Math.min(minZoomHeight, minZoomWidth) };
        },

        dragOver(e) {
            if (this.$store.getters['dropper/ready']) {
                e.preventDefault();
            }
        },

        drop(e) {
            if (this.$store.getters['dropper/ready']) {
                e.preventDefault();

                // Establish node to position from.
                const node = this.$refs.TokenSpace.getNode();

                // Create reference to screen position.
                const transform = node.getAbsoluteTransform().copy();

                // Make the reference relative to screen postion.
                transform.invert();

                // Set the pointer position from the event.
                node.getStage().setPointersPositions(e);

                // Create position reference from screen.
                const pointerPosition = node.getStage().getPointerPosition();

                // Transform the pointer poistion into a relative pointer position.
                const pos = transform.point(pointerPosition);

                // Apply the grid relationship to the coordinates.
                const gridPos = this.renderContext.gridSpace.stageToGrid(pos);

                // Move the inital spawn location to snap into the grid.
                const snappedPos = this.renderContext.gridSpace.gridToAnchor(gridPos);

                const character = this.$store.getters['dropper/draggedItem'];
                this.$store.dispatch('analytics/pushEvent', {
                    event: {
                        category: 'CampaignMap',
                        action: 'AddCharacterToMap',
                        name: character.name,
                        value: character.id,
                    },
                });

                this.$store.dispatch('tokens/spawn', {
                    ...character,
                    pos: snappedPos,
                    mapId: this.activeMap ? this.activeMap._id : null,
                });
                this.$store.dispatch('dropper/reset');
            }
        },
        async onGridFinderChange(circles) {
            if (circles.length < 2) {
                return;
            }
            let results = null;
            try {
                results = findGrid(circles);
                const modifiedMap = _.cloneDeep(this.activeMap);
                await this.changeGridSize(modifiedMap, results.cellSize.width);
                const { x, y } = results.offset;
                modifiedMap.stage.grid.offset = { x: +x.toFixed(3), y: +y.toFixed(3) };
                const patch = jsonpatch.compare(this.activeMap, modifiedMap);
                this.onMapSaved({ id: this.activeMap._id, patch });
            } catch (err) {
                console.warn(`There was an error configuring the grid.\n${JSON.stringify(circles, null, 4)}`);
                console.warn(err);
            }
        },
        async changeGridSize(modifiedMap, newSize) {
            let imageSize = await new Promise((resolve, reject) => {
                let image = new Image();
                image.onload = () => resolve({ width: image.width, height: image.height });
                image.onerror = reject;
                image.src = this.activeMapImage;
            });
            modifiedMap.stage.grid.size = +newSize.toFixed(3);
            modifiedMap.stage.bounds.se = {
                q: Math.ceil(imageSize['width'] / modifiedMap.stage.grid.size),
                r: Math.ceil(imageSize['height'] / modifiedMap.stage.grid.size),
            };
        },
        addMouseEvents() {
            // Attach up stage mouse events to the event bus
            ['mouseup', 'mousemove', 'mousedown'].forEach(eventName => {
                this.$refs.stage.getNode().on(eventName, ({ evt }) => {
                    this.stageMouseEvents.dispatchEvent(new MouseEvent(evt.type, evt));
                });
            });
            this.$refs.stage.getNode().on('mousemove', e => {
                const { screenX, screenY, clientX, clientY, layerX, layerY } = e.evt;
                const positionData = {
                    screen: {
                        x: screenX,
                        y: screenY,
                    },
                    client: {
                        x: clientX,
                        y: clientY,
                    },
                    layer: {
                        x: layerX,
                        y: layerY,
                    },
                };
                this.updateStagePosition(positionData);
            });
        },
        updateStagePosition(position) {
            this.stagePos = position;
        },
        updateDrawingPos(position) {
            this.drawingPos = position;
        },
        updateGridFinderPos(position) {
            this.gridFinderPos = position;
        },
    },
};

const getDefaultStage = () => {
    return {
        bounds: { nw: { q: 0, r: 0 }, se: { q: 49, r: 49 } },
        color: '#121212',
        grid: {
            type: 'square',
            size: 50,
            offset: { x: 0, y: 0 },
            visible: true,
        },
    };
};
</script>

<style>
.sceneContainer {
    height: 100%;
    width: 100%;
    flex: 1 1 auto;
}
</style>
