<template>
    <BaseModal v-if="displayModal">
        <section>
            <h5>Game Master Controls</h5>

            <h6>Game Masters</h6>
            <ul>
                <li v-for="gm in gmProfiles" :key="gm.userId" class="gm-display">
                    <img :src="gm.imageUrl" :alt="`Profile image of ${gm.displayName}.`" />
                </li>
            </ul>

            <h6>Players</h6>
            <ul>
                <li v-for="player in nonGmProfiles" :key="player.userId" class="player-display">
                    <img :src="player.imageUrl" :alt="`Profile image of ${player.displayName}.`" />
                </li>
            </ul>

            <h6>Game Master Only Permissions</h6>
            <ul>
                <li>
                    <Toggle
                        elementId="gm-grid"
                        :checked="settings.gridControl"
                        :toggleChecked="() => updateSetting('gridControl')"
                    />
                    <label for="gm-grid">Only Game Master(s) controls Grid Experience</label>
                </li>
                <li>
                    <Toggle
                        elementId="gm-fog"
                        :checked="settings.fogControl"
                        :toggleChecked="() => updateSetting('fogControl')"
                    />
                    <label for="gm-fog">Only Game Master(s) controls Fog of War</label>
                </li>
                <li>
                    <Toggle
                        elementId="gm-edit-any-map"
                        :checked="settings.editAnyMap"
                        :toggleChecked="() => updateSetting('editAnyMap')"
                    />
                    <label for="gm-edit-any-map">Game Master(s) may edit any map</label>
                </li>
                <li>
                    <Toggle
                        elementId="gm-move-all"
                        :checked="settings.moveAll"
                        :toggleChecked="() => updateSetting('moveAll')"
                    />
                    <label for="gm-move-all">Only Game Master(s) can Move All players between maps</label>
                </li>
            </ul>

            <button @click="closeGmControls">Close</button>
        </section>
    </BaseModal>
</template>

<script>
import { mapGetters, mapState, mapMutations, mapActions } from 'vuex';
import _ from 'lodash';

import BaseModal from '@/core/components/BaseModal.vue';
import Toggle from '@/core/components/ToggleSwitch.vue';

export default {
    components: {
        BaseModal,
        Toggle,
    },
    computed: {
        ...mapState('gmPermissions', {
            displayModal: 'displayGmControlsModal',
        }),
        ...mapState('profile', {
            profiles: 'profiles',
        }),
        ...mapGetters('gmPermissions', {
            settings: 'permissionSettings',
        }),
        ...mapGetters('players', {
            gameMasters: 'gameMasters',
            nonGameMasters: 'nonGameMasters',
            players: 'getPlayers',
        }),
        ...mapGetters('profile', {
            getProfile: 'getProfile',
        }),
        gmProfiles() {
            this.profiles;
            const gmProfiles = this.getProfilesFor(this.gameMasters);
            return this.withoutNullPropertiesFrom(gmProfiles);
        },
        nonGmProfiles() {
            this.profiles;
            const nonGmProfiles = this.getProfilesFor(this.nonGameMasters);
            return this.withoutNullPropertiesFrom(nonGmProfiles);
        },
    },
    watch: {
        displayModal() {
            const foundProfilesCount = _.size(this.gmProfiles) + _.size(this.nonGmProfiles);
            const expectedCount = _.size(this.players);
            if (foundProfilesCount !== expectedCount) {
                this.loadProfiles(_.map(this.players, player => player.userId));
            }
        },
    },
    methods: {
        ...mapMutations('gmPermissions', {
            closeGmControls: 'toggleDisplayGmControlsModal',
        }),
        ...mapActions('gmPermissions', {
            updateSetting: 'setGmPermissionSetting',
        }),
        ...mapActions('profile', {
            loadProfiles: 'loadMultiple',
        }),
        getProfilesFor(users) {
            return _.map(users, userId => this.getProfile(userId));
        },
        withoutNullPropertiesFrom(list) {
            return _.without(list, null);
        },
    },
};
</script>

<style lang="scss" scoped>
section {
    width: 100%;
    padding: 30px;
}
ul {
    min-height: 95px;
    padding: 10px 10px 10px 10px;
    list-style-type: none;
    background-color: #444;
    border-radius: 8px;
}
img {
    width: 75px;
    height: 75px;
    border-radius: 50%;
}
</style>
