<template>
    <div class="maps">
        <MapList
            v-bind:maps="maps"
            v-bind:activeMap="activeMap"
            @onEdit="onEdit"
            @onSelected="onSelected"
            @onMoveAll="onMoveAll"
        />
        <MapEditorWindow
            ref="editor"
            @onChange="onMapSaved"
            @onAdd="onMapAdded"
            @onCancel="showEditor = false"
            @onDelete="onMapDeleted"
            v-show="showEditor"
        />
    </div>
</template>

<script lang="ts">
import { mapActions, mapState } from 'vuex';
import * as jsonpatch from 'fast-json-patch';
import _ from 'lodash';

import MapList from './MapList.vue';
import MapEditorWindow from '@/maps/components/EditorWindow.vue';
import { COLLECTION_TYPES } from '@/core/collections/constants';

export default {
    components: {
        MapList: MapList,
        MapEditorWindow: MapEditorWindow,
    },
    data: function() {
        return {
            showEditor: false,
            title: 'Map Library',
            initializing: true,
        };
    },
    computed: {
        ...mapState('collections', {
            maps: 'maps',
            players: 'players',
        }),
        ...mapState('live', {
            campaignId: 'sessionId',
            connected: 'connected',
        }),
        ...mapState('gamestate', {
            activeMap: 'activeMap',
        }),
        ...mapState('profile', {
            me: 'me',
        }),
        player: function() {
            if (!this.players) {
                return null;
            }
            return Object.values(this.players).find(p => p['userId'] === this.me.id);
        },
    },
    watch: {
        campaignId: async function() {
            await this.setUpPlayer();
        },
        me: async function() {
            await this.setUpPlayer();
        },
        connected: async function() {
            await this.setUpPlayer();
        },
        players: {
            handler() {
                this.trackMap();
            },
            deep: true,
        },
        maps: function() {
            this.trackMap();
        },
        activeMap: function() {
            this.trackMap();
        },
    },
    mounted: async function() {
        await this.setUpPlayer();
    },
    methods: {
        ...mapActions('collections', {
            loadMaps: 'loadMaps',
            updateMap: 'update',
            addMap: 'add',
            removeMap: 'remove',
        }),
        ...mapActions('players', {
            loadPlayers: 'load',
            addPlayer: 'add',
            updatePlayer: 'update',
        }),
        setUpPlayer: async function() {
            if (this.connected && this.me.id && this.campaignId && !this.player) {
                const players = await this.loadPlayers();
                const player = Object.values(players).find(p => p['userId'] === this.me.id);
                if (!player) {
                    const p = { userId: this.me.id };
                    await this.addPlayer({ player: p });
                } else {
                    this.trackMap();
                }
            }
        },
        trackMap: function() {
            if (this.player && this.activeMap && this.maps) {
                if (this.player.mapId != this.activeMap._id) {
                    const map = this.maps[this.player.mapId];
                    if (map) {
                        this.$store.dispatch('gamestate/activateMap', map);
                    }
                }
                this.initializing = false;
            }
        },
        onAdd: function() {
            this.showEditor = true;
            const map = {
                name: 'New Map',
                map: { stage: '.' },
                stage: {
                    grid: { type: 'square', size: 50 },
                    bounds: {
                        nw: { q: 0, r: 0 },
                        se: { q: 20, r: 20 },
                    },
                    color: '#223344',
                    elements: [
                        {
                            id: 'background',
                            asset: { kind: 'image', src: '/static/assets/tutorial/thank-you.jpg' },
                            pos: { q: 0, r: 0, pa: '00' },
                        },
                    ],
                },
            };
            this.$refs.editor.saveButton = 'Add';
            this.$refs.editor.showDelete = false;
            this.$refs.editor.map = map;
        },
        onEdit: function({ map }) {
            this.$emit('onEdit', { map });
        },
        onSelected: function({ map }) {
            this.notifyPlayerMove(map._id, this.player);
        },
        notifyPlayerMove: function(mapId, player) {
            const modifiedPlayer = _.cloneDeep(player);
            modifiedPlayer.mapId = mapId;
            const patch = jsonpatch.compare(player, modifiedPlayer);
            if (patch.length > 0) {
                this.updatePlayer({ id: player._id, patch });
            }
            this.$store.dispatch('drawing/clearLines');
        },
        onMoveAll: function({ map }) {
            Object.values(this.players).forEach(player => {
                this.notifyPlayerMove(map._id, player);
            });
        },
        onMapAdded({ map }) {
            this.showEditor = false;
            this.addMap({ collection: COLLECTION_TYPES.maps, item: map });
        },
        onMapSaved({ id, patch }) {
            this.showEditor = false;
            this.updateMap({ collection: COLLECTION_TYPES.maps, id, patch });
        },
        onMapDeleted({ mapId }) {
            this.showEditor = false;
            this.removeMap({ collection: COLLECTION_TYPES.maps, id: mapId });
        },
    },
};
</script>
<style scoped>
.maps {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
}
</style>
